{% extends './base.html' %}
{% block body %}
{% load static %}

  <div class="">
    <div class="text-center py-4 container" style="background-color: #ecf0f3;">
      <div class="text-dark">
        <h3 class="text-dark" style="font-family:  'Times New Roman' serif;"> We Make You Different
        </h3>
        <h2 style="font-family:  'Times New Roman', cursive;"> -We Are Anonymous-
        </h2>
      </div>
      <br>

      <p class="py-3 text-dark" style="font-family: 'Chakra Petch', sans-serif;">You are just one step away from
        becoming a pro Hacker
      </p>
    </div>
  </div>

  <div class="container" style="background-color:#ecf0f3;">

    <h3 style="border-bottom: 2px solid black;" class="py-2 pt-4 mx-4 text-center">Course Aim:</h3>

    <div class="my-4">

      <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <h5 class="text-danger pt-4" style="font-family: 'Merriweather', serif;">
          Top Cyber Defence Ranked Country
        </h5>
        <p class="" style="font-family: 'Manrope', sans-serif;">
          United States and China is ranked number one in this category, followed by the Netherlands and France, then
          the Canada.
        </p><br>
      </div><br>

      <div class="shadow p-3 mb-5 bg-body rounded">
        <h5 class="text-danger pt-4" style="font-family: 'Merriweather', serif;">
          Top Hacking Group
        </h5>
        <p class="" style="font-family: 'Manrope', sans-serif;">
          Anonymous-The decentralized group originated in 2003 on the imageboard 4chan. It is a leaderless organisation
          which projects itself as the cyber guardian of human rights and vows to fight against injustice through the
          weapon of “hacking”.
        </p><br>
      </div><br>

      <div class="shadow p-3 mb-5 bg-body rounded">
        <h5 class="text-danger pt-4" style="font-family: 'Merriweather', serif;">
          Indian Hacking Community
        </h5>
        <p class="" style="font-family: 'Manrope', sans-serif;">
          Ghost Squad Hackers, or by the abbreviation "GSH" is a politically motivated hacktivist team from India.
        </p><br>
      </div><br>

      <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <h5 class="text-danger pt-4" style="font-family: 'Merriweather', serif;">
          Earn Respect
        </h5>
        <p class="" style="font-family: 'Manrope', sans-serif;">
          Show your skill for good stuff. Every industry is improved by hackers: From rice cakes to rocket ships,
          engineering makes it — and then hacking makes it better. This is why hacking is such an extremely valuable
          skill for any teenager to learn
        </p><br>
      </div><br><br>
      <hr><br>
      <div class="text-center py-4 px-3">
        <p class="text-danger fa-4x fa fa-user-circle-o"></p>
        <h3 style="font-family: 'Volkhov', serif;" class="text-dark">Start your journey<br>as a Hacker.</h3>
      </div>

      <div class="container" style="background-color: #ecf0f3;">
        <div class="text-center">
          <img class="my-3" src="{% static 'images/codeax2_img.jpg' %}" alt="" width="60" height="60">
          <h5 class="text-dark" style="font-family:  'Times New Roman', serif;"> We Make You Different</h5>
          <h4 style="font-family: 'Times New Roman'" ; class="text-dark"> -We Are Anonymous-
          </h4>
          <p class="py-3 text-dark" style="font-family: 'Chakra Petch', sans-serif;">You are just one step away from
            becoming a Pro Indian Hacker.
          </p>
        </div>

        <div class="row">
          <div class="col-2"></div>
          <div class="col-8">
            <span class="pl-4 fa fa-play-circle"></span><span style="font-family: 'Kanit', sans-serif;">Best Video
              Tutorials</span><br><br>
            <span class="pl-4 fa fa-file-code-o"></span><span style="font-family: 'Kanit', sans-serif;">No Coding
              Required</span><br><br>
            <span class="pl-4 fa fa-cogs"></span><span style="font-family: 'Kanit', sans-serif;">Scripting
              Tools</span><br><br>

          </div>
          <div class="col-2"></div>
        </div>

        <div class="my-2 text-center">

          <a href="/register"><button type="button" class="btn btn-dark px-4 text-center col-8 py-2"><b>Start Course
                for Free</b></button></a><br><br>

          <a href="/course"><button type="button" class="btn btn-outline-dark px-4 text-center col-8 py-2"><b>Explore our
                Courses</b></button></a>
        </div><br><br>

      </div>
    </div>
      
    {% endblock body%}