{% extends './base.html' %}
{% block body %}
  <div class="container mt-5">
    <div class="row">
      {% for uc in user_courses %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <img class="card-img-top" src="{{uc.course.thumbnail.url}}" alt="image is not available">
          <div class="card-body">
            <h5 class="card-title">{{uc.course.name}}</h5>
          </div>
          <div class="card-footer p-0 border-0">
            <div class="row no-gutters">
              <div class="col">
                <a href="/coursepage/{{uc.course.slug}}" class="btn btn-light btn-block">Start Course</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock body %}